[user]
	name = Will Koster
	email = jwillkoster@gmail.com
[core]
	editor = vim
	excludesfile = /home/ddsnowboard/dotfiles/global_ignore
[push]
	default = simple
[merge]
	defaultToUpstream = 1
[rebase]
	instructionFormat = (%an <%ae>) %s
[credential]
	helper = cache
