[submodule "vim-dispatch"]
    path = .vim/bundle/vim-dispatch
    url = git@github.com:tpope/vim-dispatch.git
[submodule "editorconfig-vim"]
    path = .vim/bundle/editorconfig-vim
    url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
